In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
#import tensorflow as tf

#Импорт метрик классификации
from sklearn.metrics import accuracy_score, f1_score, recall_score, precision_score
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier

import warnings

#Доп. библиотеки
import os

In [23]:
os.path.exists(os.getcwd()+'\\data\\')

True

In [25]:
if os.path.exists(os.getcwd()+'\\data\\'):
    path = os.getcwd()+'\\data\\'
else:
    raise EnvironmentError('Нет пути к данным')

In [32]:
data = pd.read_csv(path+'kaggle_startups_train_27042024.csv')
print('Основная информация о датасете')
data.info()
print()
print('Представление данных')
data.head()

Основная информация о датасете
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52514 entries, 0 to 52513
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   name               52513 non-null  object
 1   category_list      50049 non-null  object
 2   funding_total_usd  42445 non-null  float64
 3   status             52514 non-null  object
 4   country_code       47013 non-null  object
 5   state_code         45752 non-null  object
 6   region             46156 non-null  object
 7   city               46156 non-null  object
 8   funding_rounds     52514 non-null  int64
 9   founded_at         52514 non-null  object
 10  first_funding_at   52514 non-null  object
 11  last_funding_at    52514 non-null  object
 12  closed_at          4915 non-null   object
dtypes: float64(1), int64(1), object(11)
memory usage: 5.2+ MB

Представление данных

,name,category_list,funding_total_usd,status,country_code,state_code,region,city,funding_rounds,founded_at,first_funding_at,last_funding_at,closed_at
0,Lunchgate,Online Reservations|Restaurants,828626.0,operating,CHE,25,Zurich,Zürich,2,2009-12-31,2011-05-01,2014-12-01,NaN
1,EarLens,Manufacturing|Medical|Medical Devices,42935019.0,operating,USA,CA,SF Bay Area,Redwood City,4,2005-01-01,2010-05-04,2014-02-25,NaN
2,Reviva Pharmaceuticals,Biotechnology,35456381.0,operating,USA,CA,SF Bay Area,San Jose,3,2006-01-01,2012-08-20,2014-07-02,NaN
3,Sancilio and Company,Health Care,22250000.0,operating,NaN,NaN,NaN,NaN,3,2004-01-01,2011-09-01,2014-07-18,NaN
4,WireTough Cylinders,Manufacturing,NaN,operating,USA,VA,VA - Other,Bristol,1,2010-09-30,2012-02-01,2012-02-01,NaN

In [34]:
data.category_list.unique()

array(['Online Reservations|Restaurants',
       'Manufacturing|Medical|Medical Devices', 'Biotechnology', ...,
       'Gambling|Games|Online Gaming|Sports',
       'Aerospace|Mobile|Transportation|Travel',
       'Online Rental|Parking|Price Comparison'], dtype=object)

In [39]:
data.city.nunique()

4477